In [193]:
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium import webdriver
# from selenium.webdriver.chrome.service import Service as ChromeService
# from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd
import datetime
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.support import expected_conditions


options = webdriver.ChromeOptions()
options.add_argument("--headless")
options.add_argument("--no-sandbox")
options.add_argument("--disable-gpu")
driver = webdriver.Chrome(options=options)

In [194]:
driver.get("https://www.nea.gov.sg/dengue-zika/dengue/dengue-clusters")
driver.maximize_window()
driver.implicitly_wait(2)
placesRAW = driver.find_elements(By.XPATH, '//tr[@data-row]')
casesSince2weeks = driver.find_elements(By.XPATH, '//td[4]')
casesSinceStart = driver.find_elements(By.XPATH, '//td[5]')

In [195]:
places = []
for place in placesRAW:
    places.append(place.get_attribute("id"))
print(places)

['AmoyStClubStClubStEmeraldGdnGemmillLnMccallumStTheCliftSouthBridgeRd', 'CountrysideRdLentorAveCresLkStTerLentorLoopBullionPk', 'EngKongRdTerLorKismisTohTuckRdTohTuckRdDaintreeResidenceHighOakCondoNottinghillSuitesTheCreekBtTohTuckTerTohYiDrRd', 'CardiffGrCardiffResidenceGoldenDrRiseWalkJlnPacheliLiHwanClDrViewTaiHwanAveCresDrTer', 'CrossStMosqueStUppCrossStUppCrossStBlk532533535536538', 'TampinesSt22TampinesSt22Blk289294295296297298299A299B', 'JlnTenteramBlk161920116B117B', 'BuckleyRdBuckleyClassiqueChanceryLnChanceryLnChanceryEsquireDunearnRdChanceryCtEvelynRdGentleRdGilsteadRd', 'LeedonHtsLeedonHtsLeedonResidence', 'Lor1ToaPayohBlk113114115ToaPayohNorthBlk206209', 'BtBatokCtrlBlk103106BtBatokWestAve6Blk111112', 'ClementiWestSt2Blk706WestCoastRdBlk520701702703704', 'JlnGirangSgoonAve3Blk329331SgoonAve3TheSunnydale', 'MeiHwanCresDr', 'NewMarketRdNewMarketRdBlk32PkRdPeoplesPkComplexUppCrossStUppCrossStBlk34', 'BishanSt22Blk239242', 'BtBatokWestAve8Blk178183', 'Lor2ToaPayohBlk147', 'PandanGdnsBlk406412413', 'SgoonGdnWay', 'BtBatokEastAve3Blk285286287BtBatokEastAve4Blk274', 'CanberraCresBlk130ACanberraStBlk126A129A129B', 'JurongWestCtrl1Blk680A680BJurongWestSt64Blk676B', 'WoodlandsIndPkE5', 'AngMoKioAve10Blk410473476', 'AngMoKioAve4Blk106107', 'AngMoKioAve6Blk713716725', 'BendemeerRdBlk38B43', 'BishanSt23Blk220222225', 'BtBatokWestAve2BtBatokWestAve2Blk420422', 'DoverRdBlk123', 'FernvaleLnBlk405A405CFernvaleRdBlk406B', 'JlnBtMerahBlk106108', 'JlnJambuBatuJlnJambuMawar', 'JlnKukohBlk23YorkHillBlk13', 'JlnLatehLorSelangatSommervilleRdTheAcacias', 'JurongWestCtrl1Blk692695JurongWestCtrl3Blk698A', 'JurongWestSt74Blk766JurongWestSt75', 'JurongWestSt93Blk965', 'KakiBtRd3', 'KretaAyerRdBlk333SagoLnBlk4SmithSt', 'Lor1ToaPayohBlk117118Lor2ToaPayohBlk116', 'Lor1ToaPayohBlk130A131B', 'MarineDrBlk6773', 'SunsetWayClementiPk', 'WestCoastCresWestCoastCresBlueHorizonTheVision', 'WoodlandsAve1Blk336337', 'AngMoKioAve1Blk216220', 'AngMoKioAve3Blk211212', 'AngMoKioAve3Blk313326', 'AngMoKioAve5Blk152180', 'BalamRdBlk33CircuitRdBlk37', 'BedokReservoirRdBlk113120', 'BtMerahViewBlk130', 'CashewRdBlk135CashewRdCashewHts', 'ChempakaKuningLk', 'CommonwealthAveCommonwealthTwrs', 'CommonwealthCresBlk98101', 'DepotRdBlk104B106B', 'DevonshireRdOneDevonshireKillineyRdClaremont', 'HougangAve2Blk706710', 'InternationalRd', 'JlnMatJambolBijou', 'JurongEastSt31Blk320323', 'JurongWestSt52Blk514515', 'KimChengStBlk45MohGuanTerBlk47', 'LavenderSt', 'MargaretDrBlk3739A', 'OceanDrTheOceanfrontSentosaCove', 'RivervaleDrBlk194', 'SaujanaRdBlk409415', 'SegarRdBlossomResidences', 'SennettLnRd', 'SgoonNorthAve4Blk500534', 'SgoonRdRegentResidencesStGeorgeRdBlk10', 'SturdeeRdKerrisdale', 'TohGuanRdEast', 'WoodlandsDr73Blk685B', 'WoodlandsSector1', 'WoodlandsSt13Blk177183A']

In [196]:
showButtons = []
for place in places:
    showButtons.append(driver.find_element(By.XPATH, f'//*[@id="{place}"]/td[3]/p[1]'))
def closePopUp():
    driver.find_element(By.XPATH, '//*[@id="ClusterModal"]/div/div[1]/h2/span').click()
localities = []
# for button in showButtons:
#     button.click()
#     driver.implicitly_wait(2)
#     for n in range(2, 30):
#         try:
#             localities.append(driver.find_element(By.XPATH, f'//*[@id="modalBody"]/table/tbody/tr[{n}]/td[1]').text)
#         except NoSuchElementException:
#             break
#     driver.implicitly_wait(2)
#     closePopUp()

for button in showButtons:
    button.click()
    driver.implicitly_wait(2)
    elements = driver.find_elements(By.XPATH, '//*[@id="modalBody"]/table/tbody')
    for element in elements:
        localities.append(element.text)
    driver.implicitly_wait(2)
    closePopUp()
print(localities)
localityFile = open("NeaLocalityData", "a")
localityFile.writelines(localities)
localityFile.close()

['Location No. of Cases\nAmoy Street 1\nClub Street 87\nClub Street\n(Emerald Garden) 14\nGemmill Lane 1\nMccallum Street\n(The Clift) 1\nSouth Bridge Road 1', 'Location No. of Cases\nCountryside Road 6\nLentor Avenue 1\nLentor Crescent 7\nLentor Link 4\nLentor Street 10\nLentor Terrace 1\nLentor Loop\n(Bullion Park) 52', 'Location No. of Cases\nEng Kong Road 1\nEng Kong Terrace 4\nLorong Kismis 4\nToh Tuck Road 2\nToh Tuck Road\n(Daintree Residence) 18\nToh Tuck Road\n(High Oak Condominium) 2\nToh Tuck Road\n(Nottinghill Suites) 6\nToh Tuck Road\n(The Creek @ Bukit) 14\nToh Tuck Terrace 7\nToh Yi Drive 1\nToh Yi Road 1', 'Location No. of Cases\nCardiff Grove\n(Cardiff Residence) 1\nGolden Drive 12\nGolden Rise 4\nGolden Walk 7\nJalan Pacheli 5\nLi Hwan Close 2\nLi Hwan Drive 2\nLi Hwan View 4\nTai Hwan Avenue 1\nTai Hwan Crescent 4\nTai Hwan Drive 1\nTai Hwan Terrace 1', 'Location No. of Cases\nCross Street 17\nMosque Street 1\nUpper Cross Street 1\nUpper Cross Street\n(Blk 532) 2\nUpper Cross Street\n(Blk 533) 4\nUpper Cross Street\n(Blk 535) 4\nUpper Cross Street\n(Blk 536) 2\nUpper Cross Street\n(Blk 538) 3', 'Location No. of Cases\nTampines Street 22 1\nTampines Street 22\n(Blk 289) 1\nTampines Street 22\n(Blk 294) 2\nTampines Street 22\n(Blk 295) 6\nTampines Street 22\n(Blk 296) 5\nTampines Street 22\n(Blk 297) 14\nTampines Street 22\n(Blk 298) 1\nTampines Street 22\n(Blk 299A) 1\nTampines Street 22\n(Blk 299B) 1', 'Location No. of Cases\nJalan Tenteram\n(Blk 16) 3\nJalan Tenteram\n(Blk 19) 2\nJalan Tenteram\n(Blk 20) 10\nJalan Tenteram\n(Blk 116B) 2\nJalan Tenteram\n(Blk 117B) 1', 'Location No. of Cases\nBuckley Road\n(Buckley Classique) 1\nChancery Lane 1\nChancery Lane\n(Chancery Esquire) 1\nDunearn Road\n(Chancery Court) 1\nEvelyn Road 1\nGentle Road 4\nGilstead Road 8', 'Location No. of Cases\nLeedon Heights 13\nLeedon Heights\n(Leedon Residence) 2', 'Location No. of Cases\nLorong 1 Toa Payoh\n(Blk 113) 1\nLorong 1 Toa Payoh\n(Blk 114) 1\nLorong 1 Toa Payoh\n(Blk 115) 4\nToa Payoh North\n(Blk 206) 2\nToa Payoh North\n(Blk 209) 2', 'Location No. of Cases\nBukit Batok Central\n(Blk 103) 1\nBukit Batok Central\n(Blk 106) 4\nBukit Batok West Avenue 6\n(Blk 111) 2\nBukit Batok West Avenue 6\n(Blk 112) 2', 'Location No. of Cases\nClementi West Street 2\n(Blk 706) 1\nWest Coast Road\n(Blk 502) 1\nWest Coast Road\n(Blk 701) 1\nWest Coast Road\n(Blk 702) 2\nWest Coast Road\n(Blk 703) 1\nWest Coast Road\n(Blk 704) 1', 'Location No. of Cases\nJalan Girang 1\nSerangoon Avenue 3\n(Blk 329) 4\nSerangoon Avenue 3\n(Blk 331) 1\nSerangoon Avenue 3\n(The Sunnydale) 1', 'Location No. of Cases\nMei Hwan Crescent 3\nMei Hwan Drive 3', "Location No. of Cases\nNew Market Road 1\nNew Market Road\n(Blk 32) 1\nPark Road\n(People's Park Complex) 1\nUpper Cross Street 2\nUpper Cross Street\n(Blk 34) 1", 'Location No. of Cases\nBishan Street 22\n(Blk 239) 4\nBishan Street 22\n(Blk 242) 1', 'Location No. of Cases\nBukit Batok West Avenue 8\n(Blk 178) 2\nBukit Batok West Avenue 8\n(Blk 183) 3', 'Location No. of Cases\nLorong 2 Toa Payoh\n(Blk 147) 5', 'Location No. of Cases\nPandan Gardens\n(Blk 406) 1\nPandan Gardens\n(Blk 412) 2\nPandan Gardens\n(Blk 413) 2', 'Location No. of Cases\nSerangoon Garden Way 5', 'Location No. of Cases\nBukit Batok East Avenue 3\n(Blk 286) 1\nBukit Batok East Avenue 3\n(Blk 285) 1\nBukit Batok East Avenue 3\n(Blk 287) 1\nBukit Batok East Avenue 4\n(Blk 274) 1', 'Location No. of Cases\nCanberra Crescent\n(Blk 130A) 1\nCanberra Street\n(Blk 126A) 1\nCanberra Street\n(Blk 129A) 1\nCanberra Street\n(Blk 129B) 1', 'Location No. of Cases\nJurong West Central 1\n(Blk 680A) 1\nJurong West Central 1\n(Blk 680B) 1\nJurong West Street 64\n(Blk 676B) 2', 'Location No. of Cases\nWoodlands Industrial Park E5 4', 'Location No. of Cases\nAng Mo Kio Avenue 10\n(Blk 410) 1\nAng Mo Kio Avenue 10\n(Blk 473) 1\nAng Mo Kio Avenue 10\n(Blk 476) 1', 'Location No. of Cases\nAng Mo Kio Avenue 4\n(Blk 106) 1\nAng Mo Kio Avenue 4\n(Blk 107) 2', 'Location No. of Cases\nAng Mo Kio Avenue 6\n(Blk 713) 1\nAng Mo Kio Avenue 6\n(Blk 716) 1\nAng Mo Kio Avenue 6\n(Blk 725) 1', 'Location No. of Cases\nBendemeer Road\n(Blk 38B) 2\nBendemeer Road\n(Blk 43) 1', 'Location No. of Cases\nBishan Street 23\n(Blk 220) 1\nBishan Street 23\n(Blk 222) 1\nBishan Street 23\n(Blk 225) 1', 'Location No. of Cases\nBukit Batok West Avenue 2 1\nBukit Batok West Avenue 2\n(Blk 420) 1\nBukit Batok West Avenue 2\n(Blk 422) 1', 'Location No. of Cases\nDover Road\n(Blk 1) 1\nDover Road\n(Blk 2) 1\nDover Road\n(Blk 3) 1', 'Location No. of Cases\nFernvale Lane\n(Blk 405A) 1\nFernvale Lane\n(Blk 405C) 1\nFernvale Road\n(Blk 406B) 1', 'Location No. of Cases\nJalan Bukit Merah\n(Blk 106) 2\nJalan Bukit Merah\n(Blk 108) 1', 'Location No. of Cases\nJalan Jambu Batu 2\nJalan Jambu Mawar 1', 'Location No. of Cases\nJalan Kukoh\n(Blk 2) 1\nJalan Kukoh\n(Blk 3) 1\nYork Hill\n(Blk 13) 1', 'Location No. of Cases\nJalan Lateh 1\nLorong Selangat 1\nSommerville Road\n(The Acacias) 1', 'Location No. of Cases\nJurong West Central 1\n(Blk 692) 1\nJurong West Central 1\n(Blk 695) 1\nJurong West Central 3\n(Blk 698A) 1', 'Location No. of Cases\nJurong West Street 74\n(Blk 766) 1\nJurong West Street 75 2', 'Location No. of Cases\nJurong West Street 93\n(Blk 965) 3', 'Location No. of Cases\nKaki Bukit Road 3 3', 'Location No. of Cases\nKreta Ayer Road\n(Blk 333) 1\nSago Lane\n(Blk 4) 1\nSmith Street 1', 'Location No. of Cases\nLorong 1 Toa Payoh\n(Blk 117) 1\nLorong 1 Toa Payoh\n(Blk 118) 1\nLorong 2 Toa Payoh\n(Blk 116) 1', 'Location No. of Cases\nLorong 1 Toa Payoh\n(Blk 130A) 1\nLorong 1 Toa Payoh\n(Blk 131B) 2', 'Location No. of Cases\nMarine Drive\n(Blk 67) 2\nMarine Drive\n(Blk 73) 1', 'Location No. of Cases\nSunset Way\n(Clementi Park) 3', 'Location No. of Cases\nWest Coast Crescent 1\nWest Coast Crescent\n(Blue Horizon) 1\nWest Coast Crescent\n(The Vision) 1', 'Location No. of Cases\nWoodlands Avenue 1\n(Blk 336) 2\nWoodlands Avenue 1\n(Blk 337) 1', 'Location No. of Cases\nAng Mo Kio Avenue 1\n(Blk 216) 1\nAng Mo Kio Avenue 1\n(Blk 220) 1', 'Location No. of Cases\nAng Mo Kio Avenue 3\n(Blk 211) 1\nAng Mo Kio Avenue 3\n(Blk 212) 1', 'Location No. of Cases\nAng Mo Kio Avenue 3\n(Blk 313) 1\nAng Mo Kio Avenue 3\n(Blk 326) 1', 'Location No. of Cases\nAng Mo Kio Avenue 5\n(Blk 152) 1\nAng Mo Kio Avenue 5\n(Blk 180) 1', 'Location No. of Cases\nBalam Road\n(Blk 33) 1\nCircuit Road\n(Blk 37) 1', 'Location No. of Cases\nBedok Reservoir Road\n(Blk 113) 1\nBedok Reservoir Road\n(Blk 120) 1', 'Location No. of Cases\nBukit Merah View\n(Blk 130) 2', 'Location No. of Cases\nCashew Road\n(Blk 135) 1\nCashew Road\n(Cashew Heights) 1', 'Location No. of Cases\nChempaka Kuning Link 2', 'Location No. of Cases\nCommonwealth Avenue\n(Commonwealth Towers) 2', 'Location No. of Cases\nCommonwealth Crescent\n(Blk 98) 1\nCommonwealth Crescent\n(Blk 101) 1', 'Location No. of Cases\nDepot Road\n(Blk 104B) 1\nDepot Road\n(Blk 106B) 1', 'Location No. of Cases\nDevonshire Road\n(One Devonshire) 1\nKilliney Road\n(Claremont) 1', 'Location No. of Cases\nHougang Avenue 2\n(Blk 706) 1\nHougang Avenue 2\n(Blk 710) 1', 'Location No. of Cases\nInternational Road 2', 'Location No. of Cases\nJalan Mat Jambol\n(Bijou) 2', 'Location No. of Cases\nJurong East Street 31\n(Blk 320) 1\nJurong East Street 31\n(Blk 323) 1', 'Location No. of Cases\nJurong West Street 52\n(Blk 514) 1\nJurong West Street 52\n(Blk 515) 1', 'Location No. of Cases\nKim Cheng Street\n(Blk 45) 1\nMoh Guan Terrrace\n(Blk 47) 1', 'Location No. of Cases\nLavender Street 2', 'Location No. of Cases\nMargaret Drive\n(Blk 37) 1\nMargaret Drive\n(Blk 39A) 1', 'Location No. of Cases\nOcean Drive\n(The Oceanfront @ Sentosa Cove) 2', 'Location No. of Cases\nRivervale Drive\n(Blk 194) 2', 'Location No. of Cases\nSaujana Road\n(Blk 409) 1\nSaujana Road\n(Blk 415) 1', 'Location No. of Cases\nSegar Road\n(Blossom Residences) 2', 'Location No. of Cases\nSennett Lane 1\nSennett Road 1', 'Location No. of Cases\nSerangoon North Avenue 4\n(Blk 500) 1\nSerangoon North Avenue 4\n(Blk 534) 1', 'Location No. of Cases\nSerangoon Road\n(Regent Residences) 1\nSaint George Road\n(Blk 10) 1', 'Location No. of Cases\nSturdee Road\n(Kerrisdale) 2', 'Location No. of Cases\nToh Guan Road East 2', 'Location No. of Cases\nWoodlands Drive 73\n(Blk 685B) 2', 'Location No. of Cases\nWoodlands Sector 1 2', 'Location No. of Cases\nWoodlands Street 13\n(Blk 177) 1\nWoodlands Street 13\n(Blk 183A) 1']

In [197]:
def fileFindnReplace(FileName, Find, Replace):
    file = open(FileName, "r")
    newContent = (file.read()).replace(Find, Replace)
    file.close()
    Data = open(FileName, "w")
    Data.write(newContent)
    Data.close()



fileFindnReplace("NeaLocalityData", "Location No. of Cases", "")
fileFindnReplace("NeaLocalityData", "\n(", " (")

In [198]:
file = open("NeaLocalityData", "r")
lines = file.readlines()
newLines = []
for line in lines:
    try:
        if line[-4].isdigit() and line[-3].isdigit() and line[-2].isdigit():
            newLine = line[:-5] + "," + line[-4:]
        
        elif line[-3].isdigit() and line[-2].isdigit():
            newLine = line[:-4] + "," +  line[-3:]

        elif line[-2].isdigit():
            newLine = line[:-3] + "," +  line[-2:]
        newLines.append(newLine)
    except IndexError:
        print(line)
file = open("NeaLocalityData", "w")
file.writelines(newLines)
file.close()

In [199]:
localityData = pd.read_csv("NeaLocalityData")
localityData

                       Amoy Street   1
0                      Club Street  87
1     Club Street (Emerald Garden)  14
2                     Gemmill Lane   1
3      Mccallum Street (The Clift)   1
4                South Bridge Road   1
..                             ...  ..
216             Toh Guan Road East   2
217  Woodlands Drive 73 (Blk 685B)   2
218             Woodlands Sector 1   2
219  Woodlands Street 13 (Blk 177)   1
220  Woodlands Street 13 (Blk 177)   1

[221 rows x 2 columns]

In [200]:
cases2weeks = []
for num in casesSince2weeks:
    cases2weeks.append(num.text) 
print(cases2weeks) 
CasesStart = []

['10', '7', '1', '3', '8', '3', '7', '4', '2', '7', '3', '4', '4', '1', '4', '3', '1', '3', '2', '2', '2', '3', '4', '3', '3', '1', '3', '3', '2', '2', '2', '1', '1', '1', '2', '1', '2', '2', '3', '3', '1', '3', '1', '1', '1', '1', '2', '2', '2', '1', '2', '2', '1', '1', '1', '1', '2', '1', '1', '2', '2', '1', '2', '2', '2', '1', '1', '1', '1', '1', '2', '1', '2', '1', '2', '1', '1', '2', '1', '2']

In [201]:
for num in casesSinceStart:
    CasesStart.append(num.text)
print(CasesStart)
driver.close()

['105', '81', '60', '44', '34', '32', '18', '17', '15', '10', '9', '7', '7', '6', '6', '5', '5', '5', '5', '5', '4', '4', '4', '4', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2']

In [202]:
newPlaces = []
for place in places:
    newplace = ""
    for i, char in enumerate(place):
        if char.isupper():
            newplace += " " + char
        else:
            newplace += char
    newPlaces.append(newplace)
print(newPlaces)

[' Amoy St Club St Club St Emerald Gdn Gemmill Ln Mccallum St The Clift South Bridge Rd', ' Countryside Rd Lentor Ave Cres Lk St Ter Lentor Loop Bullion Pk', ' Eng Kong Rd Ter Lor Kismis Toh Tuck Rd Toh Tuck Rd Daintree Residence High Oak Condo Nottinghill Suites The Creek Bt Toh Tuck Ter Toh Yi Dr Rd', ' Cardiff Gr Cardiff Residence Golden Dr Rise Walk Jln Pacheli Li Hwan Cl Dr View Tai Hwan Ave Cres Dr Ter', ' Cross St Mosque St Upp Cross St Upp Cross St Blk532533535536538', ' Tampines St22 Tampines St22 Blk289294295296297298299 A299 B', ' Jln Tenteram Blk161920116 B117 B', ' Buckley Rd Buckley Classique Chancery Ln Chancery Ln Chancery Esquire Dunearn Rd Chancery Ct Evelyn Rd Gentle Rd Gilstead Rd', ' Leedon Hts Leedon Hts Leedon Residence', ' Lor1 Toa Payoh Blk113114115 Toa Payoh North Blk206209', ' Bt Batok Ctrl Blk103106 Bt Batok West Ave6 Blk111112', ' Clementi West St2 Blk706 West Coast Rd Blk520701702703704', ' Jln Girang Sgoon Ave3 Blk329331 Sgoon Ave3 The Sunnydale', ' Mei Hwan Cres Dr', ' New Market Rd New Market Rd Blk32 Pk Rd Peoples Pk Complex Upp Cross St Upp Cross St Blk34', ' Bishan St22 Blk239242', ' Bt Batok West Ave8 Blk178183', ' Lor2 Toa Payoh Blk147', ' Pandan Gdns Blk406412413', ' Sgoon Gdn Way', ' Bt Batok East Ave3 Blk285286287 Bt Batok East Ave4 Blk274', ' Canberra Cres Blk130 A Canberra St Blk126 A129 A129 B', ' Jurong West Ctrl1 Blk680 A680 B Jurong West St64 Blk676 B', ' Woodlands Ind Pk E5', ' Ang Mo Kio Ave10 Blk410473476', ' Ang Mo Kio Ave4 Blk106107', ' Ang Mo Kio Ave6 Blk713716725', ' Bendemeer Rd Blk38 B43', ' Bishan St23 Blk220222225', ' Bt Batok West Ave2 Bt Batok West Ave2 Blk420422', ' Dover Rd Blk123', ' Fernvale Ln Blk405 A405 C Fernvale Rd Blk406 B', ' Jln Bt Merah Blk106108', ' Jln Jambu Batu Jln Jambu Mawar', ' Jln Kukoh Blk23 York Hill Blk13', ' Jln Lateh Lor Selangat Sommerville Rd The Acacias', ' Jurong West Ctrl1 Blk692695 Jurong West Ctrl3 Blk698 A', ' Jurong West St74 Blk766 Jurong West St75', ' Jurong West St93 Blk965', ' Kaki Bt Rd3', ' Kreta Ayer Rd Blk333 Sago Ln Blk4 Smith St', ' Lor1 Toa Payoh Blk117118 Lor2 Toa Payoh Blk116', ' Lor1 Toa Payoh Blk130 A131 B', ' Marine Dr Blk6773', ' Sunset Way Clementi Pk', ' West Coast Cres West Coast Cres Blue Horizon The Vision', ' Woodlands Ave1 Blk336337', ' Ang Mo Kio Ave1 Blk216220', ' Ang Mo Kio Ave3 Blk211212', ' Ang Mo Kio Ave3 Blk313326', ' Ang Mo Kio Ave5 Blk152180', ' Balam Rd Blk33 Circuit Rd Blk37', ' Bedok Reservoir Rd Blk113120', ' Bt Merah View Blk130', ' Cashew Rd Blk135 Cashew Rd Cashew Hts', ' Chempaka Kuning Lk', ' Commonwealth Ave Commonwealth Twrs', ' Commonwealth Cres Blk98101', ' Depot Rd Blk104 B106 B', ' Devonshire Rd One Devonshire Killiney Rd Claremont', ' Hougang Ave2 Blk706710', ' International Rd', ' Jln Mat Jambol Bijou', ' Jurong East St31 Blk320323', ' Jurong West St52 Blk514515', ' Kim Cheng St Blk45 Moh Guan Ter Blk47', ' Lavender St', ' Margaret Dr Blk3739 A', ' Ocean Dr The Oceanfront Sentosa Cove', ' Rivervale Dr Blk194', ' Saujana Rd Blk409415', ' Segar Rd Blossom Residences', ' Sennett Ln Rd', ' Sgoon North Ave4 Blk500534', ' Sgoon Rd Regent Residences St George Rd Blk10', ' Sturdee Rd Kerrisdale', ' Toh Guan Rd East', ' Woodlands Dr73 Blk685 B', ' Woodlands Sector1', ' Woodlands St13 Blk177183 A']

In [203]:
data = pd.DataFrame(list(zip(newPlaces, cases2weeks, CasesStart)), columns=["cluster address", "cases in last 2 weeks", "cases since beginning of cluster"])
count = data.count()
numOfRows = count.iloc[0]
dateExtractedCol = []
extractionDate = datetime.date.today()
for _ in range(numOfRows):
    dateExtractedCol.append(extractionDate)
dateExtractedCol

[datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11),
 datetime.date(2023, 10, 11)]

In [204]:
data["date of extraction"] = dateExtractedCol
data

,cluster address,cases in last 2 weeks,cases since beginning of cluster,date of extraction
0,Amoy St Club St Club St Emerald Gdn Gemmill L...,10,105,2023-10-11
1,Countryside Rd Lentor Ave Cres Lk St Ter Lent...,7,81,2023-10-11
2,Eng Kong Rd Ter Lor Kismis Toh Tuck Rd Toh Tu...,1,60,2023-10-11
3,Cardiff Gr Cardiff Residence Golden Dr Rise W...,3,44,2023-10-11
4,Cross St Mosque St Upp Cross St Upp Cross St ...,8,34,2023-10-11
...,...,...,...,...
75,Sturdee Rd Kerrisdale,1,2,2023-10-11
76,Toh Guan Rd East,1,2,2023-10-11
77,Woodlands Dr73 Blk685 B,2,2,2023-10-11
78,Woodlands Sector1,1,2,2023-10-11
79,Woodlands St13 Blk177183 A,2,2,2023-10-11

In [205]:

file = open("NeaDataOverview", "a")
csv = data.to_csv(index=False)
file.writelines(csv)
file.close()

In [206]:
testdata = pd.read_csv("NeaDataOverview")
testdata

,cluster address,cases in last 2 weeks,cases since beginning of cluster,date of extraction
0,Amoy St Club St Club St Emerald Gdn Gemmill L...,10,105,2023-10-11
1,Countryside Rd Lentor Ave Cres Lk St Ter Lent...,7,81,2023-10-11
2,Eng Kong Rd Ter Lor Kismis Toh Tuck Rd Toh Tu...,1,60,2023-10-11
3,Cardiff Gr Cardiff Residence Golden Dr Rise W...,3,44,2023-10-11
4,Cross St Mosque St Upp Cross St Upp Cross St ...,8,34,2023-10-11
...,...,...,...,...
75,Sturdee Rd Kerrisdale,1,2,2023-10-11
76,Toh Guan Rd East,1,2,2023-10-11
77,Woodlands Dr73 Blk685 B,2,2,2023-10-11
78,Woodlands Sector1,1,2,2023-10-11
79,Woodlands St13 Blk177183 A,2,2,2023-10-11